.boat-detail-container {
    .subtitle {
        text-align: center;
        margin-bottom: $gap-width;
    }
    .boat-button-container {
        margin-bottom: $gap-width;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
            width: 300px;
            margin-bottom: 15px;
        }
    }
    .detail-description {
        margin-bottom: $gap-width;
    }
    .boat-documents {
        margin-bottom: $gap-width;
    }
    .boat-technical-data {
        margin-bottom: $gap-width;
    }
}

.btn.back {
    with: 100%;
    margin-top: $gap-width;
    margin-bottom: $gap-width;
    display: block;
}

/* calendar */
.boat-calendar-wrapper {
    margin-bottom: $gap-width;
}

#boat-calendar {
    height: 500px;
    font-family: $base-font-family;
    margin-bottom: $gap-width-small;

    .rbc-toolbar {
        .rbc-btn-group {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            &:first-child {
                grid-template-columns: repeat(3, 1fr);
            }

            button {
                background-color: $brand-color;
                color: #ffffff;

                &.rbc-active {
                    background-color: $brand-color-dark;
                }
            }
        }
    }



    .rbc-time-view {
        background-color: #ffffff;
        box-shadow: $generic-box-shadow;
    }

    .rbc-toolbar {
        display: flex;
        flex-direction: column;

        button {
            background-color: #ffffff;
        }

        .rbc-toolbar-label {
            font-weight: bold;
        }
    }

    .rbc-toolbar-label {
        padding: 10px;
    }

    .rbc-timeslot-group {
        color: $base-color;
        font-size: rem(14px);
        display: flex;
        flex-direction: row;

        .rbc-time-slot {
            display: flex;
            flex-grow: 1;
            align-items: flex-start;
        }
    }

    /* today */
    .rbc-today {
        background-color: transparent;
    }
}

.calendar-legend {
    display: flex;
    flex-display: row;
    justify-content: space-between;
    font-size: rem(14px);
    & > div {
        width: calc(50% - 15px);
    }

    .legend-element-wrapper {
        display: flex;
    }

    .legend-color-field {
        width: 20px;
        height: 20px;
        margin-right: $gap-width-small;
    }
}

.boat-datepicker-container .btn {
    margin-top: $gap-width;
}

/* booking types */
#boat-calendar .rbc-day-slot,
.calendar-legend {
    .your-booking {
        background-color: #6dad6d;
        border-color: #017300;
    }

    .default {
        background-color: $brand-color;
    }

    .event {
        background-color: #e69770;
        border-color: #b34511;
    }

    .your-booking.event {
        background: repeating-linear-gradient(
            45deg,
            #e69770,
            #e69770 5px,
            #b34511 5px,
            #b34511 7px
        );
    }

    .event.signed-up {
        background-color: #c76d41;
        border-color: #b34511;
    }
}

/* Date picker */
.boat-datepicker-container,
.react-datepicker-wrapper {
    width: 100%;
}

#boat-datepicker .react-datepicker__input-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

#event-datepicker,
#boat-datepicker {
    display: flex;
    flex-direction: column;
    width: 100%;

    .react-datepicker {
        font-family: $base-font-family;
    }

    .react-datepicker__input-container {
        &:before {
            font-family: 'Font Awesome 5 Free';
            content: '\f073';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
            z-index: 1;
        }

        input {
            padding: 12px;
            padding-left: 40px;
            border: 1px solid $border-color;
            position: relative;
            background-color: #fff;
            width: 100%;
        }
    }
    .react-datepicker-popper {
        z-index: 6;
    }
    #datepicker-error {
        color: $error-color;
        font-size: $smaller-font-size;
    }
}

.hero-image.boat {
    background-image: url(https://images.unsplash.com/photo-1500917832468-298fa6292e2b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) !important;

    padding-top: 30%;
    background-size: cover;
    background-position: center;
}

.boat-booking-block {
    display: flex;
    flex-direction: column;
    background-color: $light-background;
    padding: $gap-width;
    align-items: center;

    .btn.btn-primary {
    }
}

/* Carousel */
.boat-carousel {
    margin-bottom: $gap-width;
}

.carousel-slider .slide > div {
    padding-top: 60%;
    background-size: cover;
    background-position: center;
}

.carousel-status,
thumbs-wrapper {
    display: none;
}

/* Team */
.boat-team-container {
    margin-bottom: $gap-width;

    .boat-team-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: $gap-width-small;
    }

    .boat-team-member {
        display: flex;
        flex-direction: row;
        margin-bottom: $gap-width-small;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        align-items: flex-start;

        .avatar {
            width: 50px;
            margin-right: $gap-width-small;
        }
    }
}

@media (max-width: $break-point-md) {
    .boat-team-container {
        .boat-team-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: $break-point-sm) {
    .boat-team-container {
        .boat-team-list {
            grid-template-columns: 1fr;
        }
    }
}
