.boat-detail-container {

    .subtitle {
      text-align: center;
      margin-bottom: $gap-width;
    }
    .boat-button-container {
      margin-bottom: $gap-width;
      display: flex;
      flex-direction: column;
      align-items: center;

    .btn {
        width: 300px;
        margin-bottom: 15px;
      }
    }
  .detail-description {
    margin-bottom: $gap-width;
  }
  .boat-documents {
    margin-bottom: $gap-width;
  }
  .boat-technical-data {
    margin-bottom: $gap-width;
  }
}

.btn.back {
  with: 100%;
  margin-top: $gap-width;
  margin-bottom: $gap-width;
  display: block;
}

/* calendar */
#boat-calendar {
  margin-bottom: $gap-width;
  height: 500px;
  font-family: $base-font-family;

  .rbc-time-view {
    background-color: #ffffff;
    box-shadow: $generic-box-shadow;
  }

  .rbc-toolbar {
    display: flex;
    flex-direction: column;

    button {
      background-color: #ffffff;
    }

    .rbc-toolbar-label {
      font-weight: bold;
    }
  }

  .rbc-toolbar-label {
    padding: 10px;
  }


  .rbc-timeslot-group {
    color: $base-color;
    font-size: rem(14px);
    display: flex;
    flex-direction: row;

    .rbc-time-slot {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
  }

  /* today */
  .rbc-today {
    background-color: transparent;
  }
}


.boat-datepicker-container .btn {
  margin-top: $gap-width;
}

/* Date picker */
.boat-datepicker-container, .react-datepicker-wrapper {
  width: 100%;
}

#boat-datepicker .react-datepicker__input-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

#event-datepicker,
#boat-datepicker {
  display: flex;
  flex-direction: column;
  width: 100%;

  .react-datepicker {
    font-family: $base-font-family;
  }

 .react-datepicker__input-container {

   &:before {
     font-family: 'Font Awesome 5 Free';
     content: '\f073';
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 12px;
     z-index: 1;
   }

   input {
     padding: 12px;
     padding-left: 40px;
     border: 1px solid $border-color;
     position: relative;
     background-color: #fff;
     width: 100%;
   }
 }
  .react-datepicker-popper {
    z-index: 6;
  }
  #datepicker-error {
    color: $error-color;
    font-size: $smaller-font-size;
    text-align: center;
  }
}


.hero-image.boat {

  background-image: url(https://images.unsplash.com/photo-1500917832468-298fa6292e2b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)!important;

  padding-top: 30%;
  background-size: cover;
  background-position: center;
}

.boat-booking-block {
  display: flex;
  flex-direction: column;
  background-color: $light-background;
  padding: $gap-width;
  align-items: center;

  .btn.btn-primary {

  }
}

/* Carousel */
.boat-carousel {
  margin-bottom: $gap-width;
}

.carousel-slider .slide > div {
  padding-top: 60%;
  background-size: cover;
  background-position: center;
}

.carousel-status, thumbs-wrapper {
  display: none;
}