button {
    font-size: inherit;
    cursor: pointer;
    transition: 0.2s;
}

.btn {
    border: none;
    background-color: $brand-color;
    color: #fff;
    padding: 10px 20px;

    height: 40px;
    border-radius: 20px;
    width: 200px;
    max-width: 100%;

    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        background-color: $brand-color-dark;
    }
}

#confirmation-button {
    margin-top: 40px;
}
