button {
    font-size: inherit;
    cursor: pointer;
    transition: 0.2s;
    font-family: $base-font-family;
}

.btn {
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 200px;
    max-width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: rem(14px);
}

.btn.primary {
    background-color: $brand-color;
    color: #fff;
    padding: 10px 20px;
    min-height: 40px;
    border-radius: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &:hover {
        background-color: $brand-color-dark;
    }
}

.btn.secondary {
    background-color: transparent;
    text-transform: none;
    letter-spacing: 0px;
    color: $base-color;
    font-size: rem(16px);
}

.btn.disabled {
    background-color: $disabled-color;
    color: #fff;
    padding: 10px 20px;

    height: 40px;
    border-radius: 20px;
    width: 200px;
    max-width: 100%;
}

#confirmation-button {
    margin-top: 40px;
}
