.main-wrapper {
    max-width: $page-width;
    margin: auto;
    padding: calc(#{$gap-width} / 2);

    &.narrow {
        max-width: $page-width-narrow;
    }
}

.grid-col-5 {
    max-width: $page-width;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: $gap-width;
    & > div {
        margin-bottom: $gap-width;
    }
}

.grid-col-4 {
    max-width: $page-width;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $gap-width;
    & > div {
        margin-bottom: $gap-width;
    }
}

.grid-col-3 {
    max-width: $page-width;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $gap-width;

    & > div,
    & > article {
        margin-bottom: $gap-width;
    }
}

@media (min-width: $break-point-md) {
    .col-2 {
        grid-column: 2 / 4;
    }
}

@media (max-width: $break-point-md) {
    .grid-col-5,
    .grid-col-3 {
        grid-template-columns: repeat(2, 1fr);
    }
    .hide-md {
        display: none;
    }
}

@media (max-width: $break-point-sm) {
    .grid-col-5,
    .grid-col-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}

.generic-box,
.generic-box-grid > div {
    background-color: #ffffff;
    box-shadow: $generic-box-shadow;
    padding: $gap-width-small;
    border: 1px solid $border-color;
}
