.event-list-element {
  margin-bottom: $gap-width;

  .event-button-container .btn {
    margin-top: $gap-width-small;
    display: flex;
    width: 100%;
  }
}
.event-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: $gap-width-small;

  .event-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 0px;
    border-bottom: 1px solid $border-color;

    .event-cell:not([colspan]) {
      width: 50%;
    }
  }
}

.event-list > .event-list-element:last-child {
  margin-bottom: 0;
}

#edit-event-form .btn.secondary {
  margin-top: $gap-width;
  margin-bottom: $gap-width-small;
}