/* remove default react outlines */
input,
input:focus {
    outline: none;
}

input {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

form {
    display: flex;
    flex-direction: column;

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-text-centered {
        text-align: center;
        margin: 0px auto $gap-width-small auto;
        max-width: 570px;
    }
}

form.col-1 {
    max-width: 400px;
    margin: auto;
}

form.col-2 .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gap-width;
}

@media (max-width: $break-point-md) {
    form.col-2 .input-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $gap-width;

    label {
        margin-bottom: 10px;
        font-size: $smaller-font-size;
    }

    input {
        width: 100%;
        padding: 12px;
        margin-bottom: calc(#{$gap-width} / 2);
        border: 1px solid $border-color;
    }

    select {
        width: 100%;
        height: 48px;
        border: 1px solid #e4e4e4;
        padding: 8px;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        margin-bottom: 15px;
    }

    textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: calc(30px / 2);
        border: 1px solid #e4e4e4;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
    }

    .error {
        color: $error-color;
        font-size: $smaller-font-size;
        min-height: 20px;
        // opacity: 0;
    }

    .form-success {
        color: $success-color;
        font-size: $smaller-font-size;
    }

    &.checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            width: auto;
            margin: 0;
            margin-right: $gap-width;
        }

        label {
            flex-grow: 1;
            margin-bottom: 0;
        }
    }
}



/* Registration */
#register-form .btn.secondary {
    display: block;
    margin-top: $gap-width;
    margin-bottom: $gap-width;
}