.map-home-wrapper {
    width: 100%;
    height: 50vh;
    position: relative !important;
    margin-bottom: $gap-width;
}

.filtered-map {
    // margin-top: $gap-width;
    width: 100%;
    height: 70vh;
    position: relative !important;
}

.filtered-wrapper {
    padding: 15px 15px 0 15px;
}
