/* avatr */
.avatar {
    border-radius: 50%;
    background-size: cover;
}

.avatar:before {
    content: '';
    padding-top: 100%;
    display: block;
    width: 100%;
    position: relative;
}

.user-documents-img-btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $gap-width;

    .user-document-list-image {
        background-size: cover;
        width: 120px;
        margin-bottom: $gap-width-small;
        flex-shrink: 0;
    }

    .document {
        margin-bottom: $gap-width-small;
    }
}


/* Transaction */
.transaction-list-element.header {
    font-weight: bold;
    color: #ffffff;
    background-color: $brand-color;
}

.transaction-list-element {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr;
    border-bottom: 1px solid $border-color;

    & > div {
        padding: 8px;
    }

    .status {
        text-align: right;
    }
}

.transaction-list-element-wrapper > .transaction-list-element:nth-child(even) {
    background-color: #e8e8e8;
}

/* bookings */
.user-bookings-container {
    display: flex;
    flex-direction: column;

    .user-bookings-list-element {
        margin-bottom: $gap-width;
        padding-bottom: $gap-width;
        border-bottom: 1px solid $border-color;

        table {
            width: 100%;
        }
    }

    .user-bookings-header {
        display: flex;
        flex-direction: row;

        .user-bookings-boat-title {
            font-weight: 600;
            margin-right: 10px;
        }
    }
}