/* colors */
$base-color: #333;
$brand-color: #2c5d7b;
$brand-color-light: #86a2c2;
$brand-color-dark: #20445a;
$accent-color: #EE7219;
$ladies-color: #EC619F;
$race-color: #00B3C1;
$offshore-color: #ED1C24;
$error-color: #D01017;
$border-color: #E4E4E4;
$success-color: #06AD05;
$success-color-60: #06AD0560;
$disabled-color: #bbbbbb;
$disabled-color-60: #bbbbbb60;
$light-background: #e8e8e8;
$body-background: #f3f3f3;
$paragraph-highlight-color: #00b0f0;

/* font sizes */
$large-font-size: rem(20px);
$base-font-size: rem(16px);
$smaller-font-size: rem(14px);

/* breakpoints */
$break-point-xl: 1199px;
$break-point-lg: 991px;
$break-point-md: 768px;
$break-point-sm: 575px;

/* grid */
$page-width: 1200px;
$gap-width: 30px;
$gap-width-small: 15px;

/* others */
$base-border-radius: 3px;
$large-border-radius: 15px;
$base-font-family: 'Open Sans', sans-serif;
$generic-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.2);