/* colors */
$base-color: #333;
$brand-color: #2c5d7b;
$brand-color-light: #86a2c2;
$brand-color-dark: #20445a;
$accent-color: #ee7219;
$paragraph-highlight-color: #00b0f0;
$ladies-color: #ec619f;
$race-color: #00b3c1;
$offshore-color: #ed1c24;
$error-color: #d01017;
$border-color: #e4e4e4;
$success-color: #06ad05;

/* font sizes */
$large-font-size: rem(20px);
$base-font-size: rem(16px);
$smaller-font-size: rem(14px);

/* breakpoints */
$break-point-xl: 1199px;
$break-point-lg: 991px;
$break-point-md: 768px;
$break-point-sm: 575px;

/* grid */
$page-width: 1200px;
$gap-width: 30px;
