/* colors */
/* font sizes */
/* breakpoints */
/* grid */
/* others */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3; }

img {
  max-width: 100%; }

.App {
  display: flex;
  flex-direction: column; }

.components-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; }
  .components-wrapper > div {
    padding: 30px;
    text-align: left; }

@media (max-width: 991px) {
  .components-wrapper {
    grid-template-columns: 1fr; } }

a {
  color: #2c5d7b;
  text-decoration: none;
  font-weight: bold; }

i {
  font-style: normal; }

p {
  margin-top: 0;
  margin-bottom: 8px; }
  p span {
    color: #00b0f0; }

p.small {
  font-size: 0.875rem; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.success {
  color: #06AD05; }

table {
  margin-bottom: 8px;
  border-spacing: 0; }

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0; }

h1 {
  color: #2c5d7b;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

h2 {
  color: #2c5d7b;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

h2.h2-underlined:after {
  position: relative;
  content: '';
  width: 100px;
  height: 3px;
  background-color: #2c5d7b;
  margin: 0 auto;
  display: block; }

h3 {
  margin-top: 0;
  margin-bottom: 12px; }

h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

@media (max-width: 768px) {
  h1 {
    font-size: 1.375rem; }
  h2 {
    font-size: 1.25rem; } }

.error {
  color: #D01017;
  font-size: 0.875rem;
  text-align: center; }

#element-updated {
  color: #06AD05;
  font-size: 0.875rem;
  min-height: 20px;
  display: block;
  margin-bottom: calc(30px / 2);
  text-align: center; }

/* document icons */
a.document {
  display: flex;
  align-items: center; }

a.document.pdf:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f1c1';
  margin-right: 12px;
  font-size: 1.375rem; }

/* tables */
table.simple {
  width: 100%;
  margin-bottom: 30px; }
  table.simple thead {
    font-weight: bold; }
  table.simple td {
    border-bottom: 1px solid #E4E4E4;
    padding: 8px; }

.upper-subtitle {
  color: #2c5d7b;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 0.875rem; }

button {
  font-size: inherit;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Open Sans", sans-serif;
  padding: 0; }

.btn {
  border: none;
  letter-spacing: 1px;
  min-width: 200px;
  max-width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn.primary {
  background-color: #2c5d7b;
  color: #fff;
  padding: 10px 20px;
  min-height: 40px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-transform: uppercase; }
  .btn.primary:hover {
    background-color: #20445a; }

.btn.secondary {
  background-color: transparent;
  letter-spacing: 0px;
  color: #333;
  font-size: 1rem; }

.btn.secondary.gap-width-margin {
  margin: 30px; }

.btn.delete {
  color: #D01017;
  background: transparent;
  font-weight: bold;
  padding: 0;
  width: auto;
  min-width: 0px; }
  .btn.delete:after {
    margin-left: 10px;
    content: '\f1f8';
    font-family: 'Font Awesome 5 Free'; }

.btn.disabled {
  background-color: transparent;
  color: #2c5d7b;
  font-weight: bold;
  border: 2px solid #2c5d7b;
  padding: 10px 20px;
  text-transform: uppercase;
  height: 40px;
  border-radius: 20px;
  width: 200px;
  max-width: 100%; }

#confirmation-button {
  margin-top: 40px; }

.button-margin-top-bottom {
  margin: 30px; }

/* remove default react outlines */
input,
input:focus {
  outline: none; }

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

form {
  display: flex;
  flex-direction: column; }
  form .button-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  form .form-text-centered {
    text-align: center;
    margin: 0px auto 15px auto;
    max-width: 570px; }
  form #error-detail {
    padding-bottom: 15px; }

form.col-1 {
  max-width: 400px;
  margin: auto; }

form.col-2 .input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px; }
  form.col-2 .input-container .break {
    grid-column-start: 1; }

@media (max-width: 768px) {
  form.col-2 .input-container {
    grid-template-columns: repeat(1, 1fr); } }

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px; }
  .input-wrapper:last-of-type {
    margin-bottom: 0; }
  .input-wrapper label {
    margin-bottom: 10px;
    font-size: 0.875rem; }
  .input-wrapper input {
    width: 100%;
    padding: 12px;
    margin-bottom: calc(30px / 2);
    border: 1px solid #E4E4E4; }
  .input-wrapper select {
    width: 100%;
    height: 48px;
    border: 1px solid #e4e4e4;
    padding: 8px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 15px; }
  .input-wrapper textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: calc(30px / 2);
    border: 1px solid #e4e4e4;
    color: inherit;
    font-size: inherit;
    font-family: inherit; }
  .input-wrapper .error {
    color: #D01017;
    font-size: 0.875rem;
    min-height: 20px; }
  .input-wrapper .form-success {
    color: #06AD05;
    font-size: 0.875rem;
    text-align: center; }
  .input-wrapper .checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px; }
    .input-wrapper .checkbox-wrapper input {
      width: auto;
      margin: 0;
      margin-right: 30px; }
    .input-wrapper .checkbox-wrapper label {
      flex-grow: 1;
      margin-bottom: 0;
      font-size: 1rem; }

/* required */
form label.required:after {
  content: '*';
  color: #2c5d7b;
  font-weight: bold;
  margin-left: 5px; }

/* Registration */
#register-form .btn.secondary {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px; }

/* Login */
#login-form-error {
  text-align: center;
  margin-bottom: 15px;
  display: block;
  width: 100%; }

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.2); }
  .site-header .site-logo {
    height: 50px; }
  .site-header #mobile-menu {
    width: 40px;
    height: 32px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 8; }
    .site-header #mobile-menu.open {
      position: fixed;
      right: 15px; }
    .site-header #mobile-menu span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #2c5d7b;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .site-header #mobile-menu > span:nth-child(1) {
      top: 0px; }
    .site-header #mobile-menu > span:nth-child(2), .site-header #mobile-menu > span:nth-child(3) {
      top: 14px; }
    .site-header #mobile-menu > span:nth-child(4) {
      top: 28px; }
    .site-header #mobile-menu.open > span {
      background-color: #fff; }
    .site-header #mobile-menu.open > span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .site-header #mobile-menu.open > span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .site-header #mobile-menu.open > span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .site-header #mobile-menu.open > span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }

#mobile-navigation {
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2c5d7b;
  color: #fff;
  transform: translateY(-100%);
  transition: 0.3s;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-position: center center; }
  #mobile-navigation nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center; }
    #mobile-navigation nav ul.level-1 {
      height: 80%;
      max-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    #mobile-navigation nav li {
      text-align: center; }
    #mobile-navigation nav ul.level-1 > li:not(:last-child) {
      padding-bottom: 30px; }
    #mobile-navigation nav ul.level-1 > li > a {
      font-size: 2rem;
      font-weight: bold; }
  #mobile-navigation a, #mobile-navigation button {
    color: #fff;
    font-weight: normal;
    line-height: 1.8; }

#mobile-navigation.open {
  transform: translateY(0px); }

.logout {
  display: inline; }
  .logout i {
    margin-right: 15px; }

.main-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: calc(30px / 2); }
  .main-wrapper.narrow {
    max-width: 600px; }

.grid-col-5 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px; }
  .grid-col-5 > div {
    margin-bottom: 30px; }

.grid-col-4 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px; }
  .grid-col-4 > div {
    margin-bottom: 30px; }

.grid-col-3 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px; }
  .grid-col-3 > div,
  .grid-col-3 > article {
    margin-bottom: 30px; }

@media (min-width: 768px) {
  .col-2 {
    grid-column: 2 / 4; } }

@media (max-width: 768px) {
  .grid-col-5,
  .grid-col-3 {
    grid-template-columns: repeat(2, 1fr); }
  .hide-md {
    display: none; } }

@media (max-width: 575px) {
  .grid-col-5,
  .grid-col-3 {
    grid-template-columns: repeat(1, 1fr); } }

.generic-box,
.generic-box-grid > div {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border: 1px solid #E4E4E4; }

.boat-list-element {
  text-align: left;
  display: flex;
  flex-direction: column; }
  .boat-list-element.generic-box {
    padding: 0; }
  .boat-list-element .boat-list-image {
    background-size: cover;
    background-position: center;
    flex-shrink: 0; }
    .boat-list-element .boat-list-image:before {
      content: '';
      padding-top: 60%;
      display: block;
      width: 100%;
      position: relative; }
  .boat-list-element .boat-list-body {
    padding: calc(30px / 2);
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  .boat-list-element .location > p {
    padding-left: 25px;
    position: relative;
    margin-bottom: calc(30px / 2); }
    .boat-list-element .location > p:before {
      content: '\f3c5';
      font-family: 'Font Awesome 5 Free';
      position: absolute;
      left: 0px;
      top: 2px;
      font-weight: bold; }
    .boat-list-element .location > p.lake:before {
      content: '\f773'; }
  .boat-list-element .description {
    padding-bottom: calc(30px / 2);
    margin-bottom: calc(30px / 2);
    border-bottom: 1px solid #E4E4E4; }
  .boat-list-element .boat-button-container {
    display: flex;
    flex-direction: column;
    margin-top: auto; }
    .boat-list-element .boat-button-container .btn {
      width: 100%; }

.boat-detail-container .subtitle {
  text-align: center;
  margin-bottom: 30px; }

.boat-detail-container .boat-button-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .boat-detail-container .boat-button-container .btn {
    width: 300px;
    margin-bottom: 15px; }

.boat-detail-container .detail-description {
  margin-bottom: 30px; }

.boat-detail-container .boat-documents {
  margin-bottom: 30px; }

.boat-detail-container .boat-technical-data {
  margin-bottom: 30px; }

.btn.back {
  with: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block; }

/* calendar */
.boat-calendar-wrapper {
  margin-bottom: 30px; }

#boat-calendar {
  height: 500px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
  /* today */ }
  #boat-calendar .rbc-time-view {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.2); }
  #boat-calendar .rbc-toolbar {
    display: flex;
    flex-direction: column; }
    #boat-calendar .rbc-toolbar button {
      background-color: #ffffff; }
    #boat-calendar .rbc-toolbar .rbc-toolbar-label {
      font-weight: bold; }
  #boat-calendar .rbc-toolbar-label {
    padding: 10px; }
  #boat-calendar .rbc-timeslot-group {
    color: #333;
    font-size: 0.875rem;
    display: flex;
    flex-direction: row; }
    #boat-calendar .rbc-timeslot-group .rbc-time-slot {
      display: flex;
      flex-grow: 1;
      align-items: flex-start; }
  #boat-calendar .rbc-today {
    background-color: transparent; }

.calendar-legend {
  display: flex;
  flex-display: row;
  justify-content: space-between;
  font-size: 0.875rem; }
  .calendar-legend > div {
    width: calc(50% - 15px); }
  .calendar-legend .legend-element-wrapper {
    display: flex; }
  .calendar-legend .legend-color-field {
    width: 20px;
    height: 20px;
    margin-right: 15px; }

.boat-datepicker-container .btn {
  margin-top: 30px; }

/* booking types */
#boat-calendar .rbc-day-slot .your-booking,
.calendar-legend .your-booking {
  background-color: #6dad6d;
  border-color: #017300; }

#boat-calendar .rbc-day-slot .default,
.calendar-legend .default {
  background-color: #2c5d7b; }

#boat-calendar .rbc-day-slot .event,
.calendar-legend .event {
  background-color: #e69770;
  border-color: #b34511; }

#boat-calendar .rbc-day-slot .your-booking.event,
.calendar-legend .your-booking.event {
  background: repeating-linear-gradient(45deg, #e69770, #e69770 5px, #b34511 5px, #b34511 7px); }

#boat-calendar .rbc-day-slot .event.signed-up,
.calendar-legend .event.signed-up {
  background-color: #c76d41;
  border-color: #b34511; }

/* Date picker */
.boat-datepicker-container,
.react-datepicker-wrapper {
  width: 100%; }

#boat-datepicker .react-datepicker__input-container {
  padding-top: 8px;
  padding-bottom: 8px; }

#event-datepicker,
#boat-datepicker {
  display: flex;
  flex-direction: column;
  width: 100%; }
  #event-datepicker .react-datepicker,
  #boat-datepicker .react-datepicker {
    font-family: "Open Sans", sans-serif; }
  #event-datepicker .react-datepicker__input-container:before,
  #boat-datepicker .react-datepicker__input-container:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f073';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    z-index: 1; }
  #event-datepicker .react-datepicker__input-container input,
  #boat-datepicker .react-datepicker__input-container input {
    padding: 12px;
    padding-left: 40px;
    border: 1px solid #E4E4E4;
    position: relative;
    background-color: #fff;
    width: 100%; }
  #event-datepicker .react-datepicker-popper,
  #boat-datepicker .react-datepicker-popper {
    z-index: 6; }
  #event-datepicker #datepicker-error,
  #boat-datepicker #datepicker-error {
    color: #D01017;
    font-size: 0.875rem; }

.hero-image.boat {
  background-image: url(https://images.unsplash.com/photo-1500917832468-298fa6292e2b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) !important;
  padding-top: 30%;
  background-size: cover;
  background-position: center; }

.boat-booking-block {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  padding: 30px;
  align-items: center; }

/* Carousel */
.boat-carousel {
  margin-bottom: 30px; }

.carousel-slider .slide > div {
  padding-top: 60%;
  background-size: cover;
  background-position: center; }

.carousel-status,
thumbs-wrapper {
  display: none; }

/* Team */
.boat-team-container {
  margin-bottom: 30px; }
  .boat-team-container .boat-team-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px; }
  .boat-team-container .boat-team-member {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px; }
    .boat-team-container .boat-team-member .avatar {
      width: 50px;
      margin-right: 15px; }

@media (max-width: 768px) {
  .boat-team-container .boat-team-list {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 575px) {
  .boat-team-container .boat-team-list {
    grid-template-columns: 1fr; } }

.event-list-element {
  margin-bottom: 30px; }
  .event-list-element .event-button-container .btn {
    margin-top: 15px;
    display: block;
    width: 100%; }

.event-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; }
  .event-meta .event-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 0px;
    border-bottom: 1px solid #E4E4E4; }
    .event-meta .event-row .event-cell:not([colspan]) {
      width: 50%; }

.event-list > .event-list-element:last-child {
  margin-bottom: 0; }

#edit-event-form .btn.secondary {
  margin-top: 30px;
  margin-bottom: 15px; }

.modal {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Book boats modal */
  /* events  */ }
  .modal h1, .modal h2 {
    text-align: center; }
  .modal .inner {
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    max-height: 750px;
    height: 100%;
    position: relative;
    border-radius: 15px; }
  .modal .modal-close-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    opacity: 0.8; }
    .modal .modal-close-icon:after {
      content: '\f00d';
      font-family: 'Font Awesome 5 Free';
      font-weight: bold; }
  .modal .modal-buttons-wrapper {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .modal .modal-buttons-wrapper .btn {
      margin-top: 30px;
      width: 100%; }
  .modal .boat-booking-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .modal .boat-booking-form table {
      width: 100%; }
      .modal .boat-booking-form table .total {
        font-weight: bold; }
    .modal .boat-booking-form .btn {
      max-width: 100%;
      width: auto; }
  .modal .booking-success {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; }
  .modal .event-participation-modal, .modal .event-information-modal {
    display: flex;
    flex-direction: column;
    width: 100%; }

.home-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .home-icon-box .upper-wrapper {
    text-align: center; }
    .home-icon-box .upper-wrapper h2 {
      color: #333; }
    .home-icon-box .upper-wrapper #home-boat-icon {
      max-height: 60px; }
    .home-icon-box .upper-wrapper #home-community-icon {
      margin-top: 10px;
      max-height: 50px; }
    .home-icon-box .upper-wrapper #home-switzerland-icon {
      margin-top: 5px;
      max-height: 60px; }
    .home-icon-box .upper-wrapper h2#home-boat-icon-box-title {
      margin-top: 14px; }
  .home-icon-box .btn {
    margin: 15px 0; }

.footer-wrapper {
  padding-top: 30px;
  background-color: #2c5d7b;
  width: 100%;
  color: #fff; }
  .footer-wrapper h3 {
    text-transform: uppercase; }
  .footer-wrapper a {
    color: #fff;
    font-weight: normal; }
  .footer-wrapper p {
    margin-bottom: 0px; }
  .footer-wrapper hr {
    width: 100%; }
  .footer-wrapper .social-footer {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-wrapper .social-footer ul {
      display: flex;
      align-items: center;
      justify-content: center; }
    .footer-wrapper .social-footer li {
      display: inline-block;
      background-color: #EE7219;
      height: 30px;
      width: 30px;
      margin: 0 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .footer-wrapper .social-footer i {
      margin: 33px 14px 33px 14px; }

.icon-email:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f0e0';
  margin-right: 12px;
  font-size: 1rem; }

.icon-phone:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  content: '\f095';
  margin-right: 12px;
  font-size: 1rem; }

/* avatr */
.avatar {
  border-radius: 50%;
  background-size: cover; }

.avatar:before {
  content: '';
  padding-top: 100%;
  display: block;
  width: 100%;
  position: relative; }

.user-documents-img-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px; }
  .user-documents-img-btn-wrapper .user-document-list-image {
    background-size: cover;
    width: 120px;
    margin-bottom: 15px;
    flex-shrink: 0; }
  .user-documents-img-btn-wrapper .document {
    margin-bottom: 15px; }

/* Transaction */
.transaction-list-element.header {
  font-weight: bold;
  color: #ffffff;
  background-color: #2c5d7b; }

.transaction-list-element {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr;
  border-bottom: 1px solid #E4E4E4; }
  .transaction-list-element > div {
    padding: 8px; }
  .transaction-list-element .status {
    text-align: right; }

.transaction-list-element-wrapper > .transaction-list-element:nth-child(even) {
  background-color: #e8e8e8; }

/* bookings */
.user-bookings-container {
  display: flex;
  flex-direction: column; }
  .user-bookings-container .user-bookings-list-element {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E4E4E4; }
    .user-bookings-container .user-bookings-list-element table {
      width: 100%; }
  .user-bookings-container .user-bookings-header {
    display: flex;
    flex-direction: row; }
    .user-bookings-container .user-bookings-header .user-bookings-boat-title {
      font-weight: 600;
      margin-right: 10px; }

.staff-wrapper .staff-photo-container {
  filter: grayscale(100%);
  height: 200px;
  background-size: cover;
  background-position: center; }

.staff-wrapper .single-staff.generic-box {
  padding: 0; }

.staff-wrapper .staff-details {
  padding: 15px; }

.staff-wrapper .staff-title {
  display: flex;
  flex-direction: column; }

.staff-wrapper .margin-bottom-5 {
  margin-bottom: 5px; }

.staff-wrapper .margin-bottom-15 {
  margin-bottom: 15px; }

.emergency {
  color: #D01017;
  font-weight: bold; }

.genossenschaft h2 {
  text-align: center; }

.genossenschaft .article-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }
  .genossenschaft .article-wrapper article {
    max-width: 750px;
    text-align: center; }

.search-user-from {
  margin-bottom: 30px; }
  .search-user-from #search-form-error {
    margin-bottom: 15px; }

.user-edit-membership, .user-address, .user-boats {
  margin-bottom: 30px; }

.user-avatar {
  border-radius: 50%;
  background-size: cover; }
  .user-avatar:before {
    content: '';
    display: block;
    padding-top: 100%; }

.user-list-element {
  display: flex;
  flex-display: row;
  margin-bottom: 30px; }
  .user-list-element .user-list-avatar {
    width: 100px;
    flex-grow: 0;
    margin-right: 30px; }

/* Detail page */
.user-detail-avatar {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px; }

.boat-form-list-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0px; }
  .boat-form-list-element .toggle-instructed {
    width: 30px;
    height: 30px;
    background-color: #bbbbbb60;
    border-color: #bbbbbb;
    color: #bbbbbb;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .boat-form-list-element .toggle-instructed:before {
      font-family: 'Font Awesome 5 Free';
      content: '\f00d';
      font-weight: bold;
      line-height: 1; }
    .boat-form-list-element .toggle-instructed.instructed {
      background-color: #06AD0560;
      border-color: #06AD05;
      color: #06AD05; }
      .boat-form-list-element .toggle-instructed.instructed:before {
        content: '\f00c'; }

.accordion-wrapper {
  width: 100%; }
  .accordion-wrapper section button.accordion {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    background-color: #2c5d7b;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px; }

.panel {
  height: 0;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
  .panel .inner h2 {
    text-align: center;
    width: 100%; }

.panel.open {
  height: auto;
  padding-bottom: 30px; }

.lds-ring-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 2px;
  border: 2px solid #2c5d7b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2c5d7b transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.wrapper-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 85px - 297px);
  background-size: cover;
  background-position: center;
  padding: calc(30px / 2); }

.inner-404 {
  text-align: center;
  color: #2c5d7b;
  display: flex; }
  .inner-404 .left-404 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .inner-404 .left-404 a {
      margin-bottom: 30px; }
  .inner-404 img {
    max-width: 50%; }

@media (max-width: 768px) {
  .grid-col-5,
  .grid-col-3 {
    grid-template-columns: repeat(1, 1fr); }
  .inner-404 {
    flex-direction: column; }
  .left-404 {
    color: green;
    align-items: normal; } }

.map-home-wrapper {
  width: 100%;
  height: 50vh;
  position: relative !important;
  margin-bottom: 30px; }

.filtered-map {
  margin-top: 30px;
  width: 100%;
  height: 70vh;
  position: relative !important; }

.filtered-wrapper {
  padding: 15px 15px 0 15px; }

.filter-container .btn.secondary {
  margin-top: 15px; }

@-webkit-keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#successAnimation {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px; }

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #2c5d7b; }

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #2c5d7b; }

#successAnimationResult {
  fill: #2c5d7b;
  opacity: 0; }

#successAnimation.animated {
  -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
  animation: 1s ease-out 0s 1 both scaleAnimation; }

#successAnimation.animated #successAnimationCircle {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut; }

#successAnimation.animated #successAnimationCheck {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut; }

#successAnimation.animated #successAnimationResult {
  -webkit-animation: 0.3s linear 0.9s both fadeIn;
  animation: 0.3s linear 0.9s both fadeIn; }

.heroContainer {
  width: 100%;
  height: 50vh;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .heroContainer .heroContentWrapper {
    width: 1200px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 15px; }
  .heroContainer h1 {
    color: #fff;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    letter-spacing: 2px; }
  .heroContainer h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px; }
  .heroContainer button.hero-button {
    background-color: #EE7219;
    border: 1px solid; }
