/* colors */
/* font sizes */
/* breakpoints */
/* grid */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%; }

.components-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; }
  .components-wrapper > div {
    padding: 30px;
    text-align: left; }

@media (max-width: 991px) {
  .components-wrapper {
    grid-template-columns: 1fr; } }

a {
  color: #2c5d7b;
  text-decoration: none;
  font-weight: bold; }

p {
  margin-top: 0;
  margin-bottom: 8px; }
  p span {
    color: #00b0f0; }

table {
  margin-bottom: 8px;
  border-spacing: 0; }

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0; }

h1 {
  color: #2c5d7b;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

h2 {
  color: #2c5d7b;
  text-transform: uppercase;
  letter-spacing: 2px; }

h3 {
  margin-top: 0;
  margin-bottom: 12px; }

h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

@media (max-width: 768px) {
  h1 {
    font-size: 1.25rem; } }

/* document icons */
a.document {
  display: flex;
  align-items: center; }

a.document.pdf:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f1c1';
  margin-right: 12px;
  font-size: 1.375rem; }

/* tables */
table.simple {
  width: 100%;
  margin-bottom: 30px; }
  table.simple thead {
    font-weight: bold; }
  table.simple td {
    border-bottom: 1px solid #E4E4E4;
    padding: 8px; }

button {
  font-size: inherit;
  cursor: pointer;
  transition: 0.2s; }

.btn {
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 200px;
  max-width: 100%;
  text-align: center; }

.btn.primary {
  background-color: #2c5d7b;
  color: #fff;
  padding: 10px 20px;
  height: 40px;
  border-radius: 20px;
  width: 200px; }
  .btn.primary:hover {
    background-color: #20445a; }

.btn.disabled {
  background-color: #bbbbbb;
  color: #fff;
  padding: 10px 20px;
  height: 40px;
  border-radius: 20px;
  width: 200px;
  max-width: 100%; }

#confirmation-button {
  margin-top: 40px; }

/* remove default react outlines */
input,
input:focus {
  outline: none; }

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

form {
  display: flex;
  flex-direction: column; }

form.col-1 {
  max-width: 400px;
  margin: auto; }

form.col-2 .input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px; }

@media (max-width: 768px) {
  form.col-2 .input-container {
    grid-template-columns: repeat(1, 1fr); } }

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px; }
  .input-wrapper label {
    margin-bottom: 10px;
    font-size: 0.875rem; }
  .input-wrapper input {
    width: 100%;
    padding: 12px;
    margin-bottom: calc(30px / 2);
    border: 1px solid #E4E4E4; }
  .input-wrapper select {
    width: 100%;
    height: 48px;
    border: 1px solid #e4e4e4;
    padding: 8px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 15px; }
  .input-wrapper textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: calc(30px / 2);
    border: 1px solid #e4e4e4;
    color: inherit;
    font-size: inherit;
    font-family: inherit; }
  .input-wrapper .error {
    color: #D01017;
    font-size: 0.875rem;
    opacity: 0; }
  .input-wrapper .form-success {
    color: #06AD05;
    font-size: 0.875rem; }

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px; }
  .site-header .site-logo {
    width: 150px; }
  .site-header #mobile-menu {
    width: 40px;
    height: 32px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 2; }
    .site-header #mobile-menu span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #2c5d7b;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .site-header #mobile-menu > span:nth-child(1) {
      top: 0px; }
    .site-header #mobile-menu > span:nth-child(2), .site-header #mobile-menu > span:nth-child(3) {
      top: 14px; }
    .site-header #mobile-menu > span:nth-child(4) {
      top: 28px; }
    .site-header #mobile-menu.open > span {
      background-color: #fff; }
    .site-header #mobile-menu.open > span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .site-header #mobile-menu.open > span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .site-header #mobile-menu.open > span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .site-header #mobile-menu.open > span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }

#mobile-navigation {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2c5d7b;
  color: #fff;
  transform: translateY(-100%);
  transition: 0.3s;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */ }
  #mobile-navigation nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #mobile-navigation nav ul.level-1 > li:not(:last-child) {
      margin-bottom: 30px; }
    #mobile-navigation nav ul.level-1 > li > a {
      font-size: 2rem; }
  #mobile-navigation a {
    color: #fff; }

#mobile-navigation.open {
  transform: translateY(0px); }

.main-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: calc(30px / 2); }

.grid-col-5 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px; }
  .grid-col-5 > div {
    margin-bottom: 30px; }

.grid-col-4 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px; }
  .grid-col-4 > div {
    margin-bottom: 30px; }

.grid-col-3 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px; }
  .grid-col-3 > div {
    margin-bottom: 30px; }

@media (min-width: 768px) {
  .col-2 {
    grid-column: 2 / 4; } }

@media (max-width: 768px) {
  .grid-col-5,
  .grid-col-3 {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 575px) {
  .grid-col-5,
  .grid-col-3 {
    grid-template-columns: repeat(1, 1fr); } }

.boat-list-element {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px; }

.boat-list-image {
  background-size: cover;
  width: 30%;
  margin-right: 30px;
  flex-shrink: 0; }
  .boat-list-image:before {
    content: '';
    padding-top: 100%;
    display: block;
    width: 100%;
    position: relative; }

.boat-detail-container .subtitle {
  text-align: center;
  margin-bottom: 30px; }

.boat-detail-container .boat-button-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .boat-detail-container .boat-button-container .btn {
    width: 300px;
    margin-bottom: 15px; }

.boat-detail-container .detail-description {
  margin-bottom: 30px; }

.boat-detail-container .boat-documents {
  margin-bottom: 30px; }

.boat-detail-container .boat-technical-data {
  margin-bottom: 30px; }

#boat-calendar {
  margin-bottom: 30px;
  height: 500px; }
  #boat-calendar .rbc-toolbar {
    display: flex;
    flex-direction: column; }
  #boat-calendar .rbc-toolbar-label {
    padding: 10px; }

.boat-datepicker-container {
  width: 100%; }

#boat-datepicker .react-datepicker__input-container {
  padding-top: 8px;
  padding-bottom: 8px; }

#event-datepicker,
#boat-datepicker {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px; }
  #event-datepicker .react-datepicker__input-container:before,
  #boat-datepicker .react-datepicker__input-container:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f073';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    z-index: 1; }
  #event-datepicker .react-datepicker__input-container input,
  #boat-datepicker .react-datepicker__input-container input {
    padding: 12px;
    padding-left: 40px;
    border: 1px solid #E4E4E4;
    position: relative;
    background-color: #fff;
    width: 100%; }
  #event-datepicker .react-datepicker-popper,
  #boat-datepicker .react-datepicker-popper {
    z-index: 6; }
  #event-datepicker #datepicker-error,
  #boat-datepicker #datepicker-error {
    color: #D01017;
    font-size: 0.875rem;
    text-align: center; }

.hero-image.boat {
  background-image: url(https://images.unsplash.com/photo-1500917832468-298fa6292e2b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) !important;
  padding-top: 30%;
  background-size: cover;
  background-position: center; }

.boat-booking-block {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  padding: 30px;
  align-items: center; }

/* Carousel */
.boat-carousel {
  margin-bottom: 30px; }

.carousel-slider .slide > div {
  padding-top: 60%;
  background-size: cover;
  background-position: center; }

.carousel-status, thumbs-wrapper {
  display: none; }

.event-list-element {
  margin-bottom: 30px; }

.event-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(30px / 2); }
  .event-meta .event-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 0px;
    border-bottom: 1px solid #E4E4E4; }
    .event-meta .event-row .event-cell {
      width: 50%; }

.modal {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  display: flex;
  /* Book boats modal */ }
  .modal .inner {
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    width: 100%; }
  .modal .boat-booking-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .modal .boat-booking-form table {
      width: 100%; }
    .modal .boat-booking-form .btn {
      margin-top: auto;
      max-width: 100%;
      width: auto; }

.footer-wrapper {
  padding-top: 20px;
  background-color: #2c5d7b;
  width: 100%;
  color: #fff; }
  .footer-wrapper h3 {
    text-transform: uppercase; }
  .footer-wrapper a {
    color: #fff;
    font-weight: normal; }
  .footer-wrapper p {
    margin-bottom: 0px; }

.icon-email:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f0e0';
  margin-right: 12px;
  font-size: 1rem; }

.icon-phone:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f095';
  margin-right: 12px;
  font-size: 1rem; }

.user-documents-img-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px; }
  .user-documents-img-btn-wrapper .user-document-list-image {
    background-size: cover;
    width: 30%;
    margin-right: 30px;
    flex-shrink: 0; }
    .user-documents-img-btn-wrapper .user-document-list-image:before {
      content: '';
      padding-top: 100%;
      display: block;
      width: 100%;
      position: relative; }

/* Transaction */
.transaction-list-element.header {
  font-weight: bold;
  color: #ffffff;
  background-color: #2c5d7b; }

.transaction-list-element {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #E4E4E4; }
  .transaction-list-element > div {
    padding: 8px; }

.transaction-list-element-wrapper > .transaction-list-element:nth-child(even) {
  background-color: #e8e8e8; }

.staff-wrapper {
  align-items: space-between; }
  .staff-wrapper .staff-details {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.emergency {
  color: #D01017;
  font-weight: bold; }

.staff-photo-container {
  filter: grayscale(100%);
  height: 180px;
  background-size: cover;
  background-position: center; }
