/* colors */
/* font sizes */
/* breakpoints */
/* grid */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Open Sans', sans-serif; }

.components-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; }
  .components-wrapper > div {
    padding: 30px;
    text-align: left; }

@media (max-width: 991px) {
  .components-wrapper {
    grid-template-columns: 1fr; } }

a {
  color: inherit;
  text-decoration: none; }

p {
  margin-top: 0;
  margin-bottom: 8px; }

table {
  margin-bottom: 8px;
  border-spacing: 0; }

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0; }

h1 {
  color: #2c5d7b;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

h3 {
  margin-top: 0;
  margin-bottom: 12px; }

button {
  font-size: inherit;
  cursor: pointer;
  transition: 0.2s; }

.btn {
  border: none; }

.btn.primary {
  background-color: #2c5d7b;
  color: #fff;
  padding: 10px 20px;
  height: 40px;
  border-radius: 20px;
  width: 200px;
  max-width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .btn.primary:hover {
    background-color: #20445a; }

#confirmation-button {
  margin-top: 40px; }

/* remove default react outlines */
input,
input:focus {
  outline: none; }

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

form {
  display: flex;
  flex-direction: column; }

form.col-1 {
  max-width: 400px;
  margin: auto; }

form.col-2 .input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px; }

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px; }
  .input-wrapper label {
    margin-bottom: 10px;
    font-size: 0.875rem; }
  .input-wrapper input {
    width: 100%;
    padding: 12px;
    margin-bottom: calc(30px / 2);
    border: 1px solid #E4E4E4; }
  .input-wrapper .error {
    color: #D01017;
    font-size: 0.875rem;
    opacity: 0; }
  .input-wrapper .form-success {
    color: #06AD05;
    font-size: 0.875rem; }

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px; }
  .site-header .site-logo {
    width: 150px; }
  .site-header #mobile-menu {
    width: 40px;
    height: 32px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 2; }
    .site-header #mobile-menu span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #2c5d7b;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .site-header #mobile-menu > span:nth-child(1) {
      top: 0px; }
    .site-header #mobile-menu > span:nth-child(2), .site-header #mobile-menu > span:nth-child(3) {
      top: 14px; }
    .site-header #mobile-menu > span:nth-child(4) {
      top: 28px; }
    .site-header #mobile-menu.open > span {
      background-color: #fff; }
    .site-header #mobile-menu.open > span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .site-header #mobile-menu.open > span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .site-header #mobile-menu.open > span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .site-header #mobile-menu.open > span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }

#mobile-navigation {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2c5d7b;
  color: #fff;
  transform: translateY(-100%);
  transition: 0.3s;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */ }
  #mobile-navigation nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #mobile-navigation nav ul.level-1 > li:not(:last-child) {
      margin-bottom: 30px; }
    #mobile-navigation nav ul.level-1 > li > a {
      font-size: 2rem; }

#mobile-navigation.open {
  transform: translateY(0px); }

.main-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: calc(30px / 2); }

.boat-list-element {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px; }

.boat-list-image {
  background-size: cover;
  width: 30%;
  margin-right: 30px;
  flex-shrink: 0; }
  .boat-list-image:before {
    content: '';
    padding-top: 100%;
    display: block;
    width: 100%;
    position: relative; }

.boat-detail-container .subtitle {
  text-align: center;
  margin-bottom: 30px; }

.boat-detail-container .boat-button-container .btn {
  width: auto; }

.boat-detail-container .boat-prices {
  width: 100%; }
  .boat-detail-container .boat-prices thead {
    font-weight: bold; }
  .boat-detail-container .boat-prices td {
    border-bottom: 1px solid #E4E4E4;
    padding: 8px; }

.boat-detail-container #booking-calendar {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E4E4E4;
  margin-bottom: 30px; }
